block courseVars
  - var course_heading = 'О курсе:';
  - var course_card = { heading: 'Java - разработчик', desc: 'Освойте популярный язык программирования Java с нуля. Станьте востребованным специалистом за 9 месяцев, даже если вы раньше никогда не программировали.', btn: 'Записаться на курс' };
  - var course_list = [ { heading: 'Обучение:', desc: 'онлайн' }, { heading: 'Длительность:', desc: '1 год' }, { heading: 'Работа в команде:', desc: 'вместе с предподавателем' }, { heading: 'Удобный график:', desc: 'с 18:00 по МСК' }, ];


section#course.course 
  .container.course__container 
    h2.course__heading.heading #{course_heading}

  .container.course__container_card 
    .course__card
      h3.course__heading_card #{course_card.heading}
      p.course__desc_card #{course_card.desc}
      button.course__btn_card #{course_card.btn}
  
  .container.course__container 
    ul.course__list
      for item of course_list
        li.course__item
          h3.course__heading_list #{item.heading}
          p.course__desc_list #{item.desc}